:root
{

    --white-color: #FFF;
    --black-color: #000;

    --background-color: #DFE3E5;
    --primary-color: var(--white-color);
    --secondary-color: #646A6E;
    --accent-color: #ba0c2f;

    --border-color: var(--secondary-color);
    
    --black-text-color: var(--black-color);
    --dark-gray-text-color: var(--secondary-color);
    --gray-text-color: #3f4443;
    
    --button-color: #646a6e7c;
    --button-hover-color: var(--secondary-color);

    --drop-shadow-color: #333;

    --heading-font: "Stardos Stencil", serif;
    --text-font: "Allerta Stencil", serif;

    --border-radius: 10px;
    --half-border-radius: 5px;
}

body 
{
    margin: 0;
    color: var(--black-text-color);
}

h1 
{
    font-family: var(--heading-font);
    font-size: 38px;
    color: var(--heading-color);
    text-align: center;        
}

h2
{
    font-family: var(--heading-font);
    text-align: center;
    height: 2.5rem;    
}

nav 
{
    margin: 0 auto;
}

nav ul 
{
    font-family: var(--text-font);
    font-size: x-large;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding: .75rem;
}

nav li 
{   
    display: block; 
    margin: 0;    
}

nav a 
{    
    text-align: center;
    border: 2px solid var(--primary-color);
    text-decoration: none;
    color: var(--black-text-color);        
}

nav a:visited
{
    color: var(--black-text-color);
}

nav a:hover 
{
    border-bottom: 2px solid var(--accent-color);
}

.active
{
    border-bottom: 2px solid var(--accent-color);
}

.bottom-border 
{
    border-bottom: 2px solid var(--border-color);
}

.elite-units
{
    display: flex;
    justify-self: start;
}

.elite-units img
{
    width: 175px;
    height: 175px;
    margin: 10px 25px 10px;
    border: 1px solid var(--accent-color);
    box-shadow: 3px 3px 10px var(--border-color);
}

.elite-units h1
{
    font-family: var(--heading-font);
    font-size: 48px;
    color: var(--heading-color);
    align-items: center;
          
}

.card
{
    margin: 20px;
    border-radius: 10px;
    border: 1px solid var(--border-color);    
}

.card-minimum
{
    min-width: 600px;
}

.card-heading
{
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 8px 8px 0 0;
    color: var(--background-color);
    padding-top: 5px;        
}

.card-heading h2
{
    margin: 0;
}

.usmc
{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.usmc p
{    
    font-family: var(--text-font);
    font-size: x-large;
    width: 75%;
    margin: 10px;
}

.usmc img
{
    height: 300px;    
    margin: 10px;
    border: 2px solid goldenrod;
    box-shadow: 3px 3px 10px var(--border-color);
}

.usmc-history
{           
    padding: 10px;
}

.usmc-history h2
{
    font-family: var(--heading-font);
    text-align: start;
    height: 2.5rem;    
}

.usmc-history p
{    
    font-family: var(--text-font);
    font-size: x-large;
    width: 75%;
    margin: 10px;    
}

.album h3
{
    font-family: var(--heading-font);
    font-size: 16px;
    margin-top: 25px;
    margin-left: 15px;    
}

.album img
{
    width: 400px;    
    margin: 0 15px 20px;
    border: 1px solid var(--accent-color);
    box-shadow: 3px 3px 10px var(--border-color);
}

.album img:hover
{
    transform: scale(1.05);
    box-shadow: 3px 3px 10px var(--accent-color);
}


footer {
    border-top: 2px solid var(--border-color);
    padding: 10px;
}

footer p
{
    margin: 1px;
    font-family: var(--text-font);
    font-size: small;
    text-align: center;
}