
.unit-slider 
{    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.slider-container 
{
    width: 80%;
    max-width: 1080px;
    overflow: hidden;
    position: relative;
}

.slider 
{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card-wrapper 
{
    flex: 0 0 100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.unit-card 
{
    width: 82%; 
    background: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: 3px 3px 10px var(--drop-shadow-color);    
    box-sizing: border-box;
    min-height: 400px;
    margin: 20px 0; 
}

.unit-card img 
{    
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid var(--accent-color);
    box-shadow: 3px 3px 10px var(--drop-shadow-color);
}

.unit-card h2 
{
    font-family: var(--dark-gray-text-color);
    font-size: 22px;
    padding-top: 5px;
    text-transform: uppercase;    
}

.unit-card p 
{
    font-family: var(--text-font);
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: left;
}

.unit-card-info
{
    padding: 10px 25px; 
    font-size: 16px !important; 
    font-family: var(--text-font);
    min-height: 900px;
}

.unit-card-info img
{
    float: left; 
    margin: 0 15px;
}

.controls 
{
    position: absolute;
    top: 50%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--button-color);
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    box-shadow: 3px 3px 10px var(--drop-shadow-color);
}

.controls button:hover 
{
    background-color: var(--button-hover-color);
    border: 2px solid var(--accent-color);    
}

.dots 
{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dot 
{
    width: 12px;
    height: 12px;
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.dot.active 
{
    background-color: var(--accent-color);
    transform: scale(1.2); 
}

.dot:hover 
{
    background-color: var(--accent-color)
}

.error-message {
    color: var(-active-color);
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}