.slider-container 
{
    width: 80%;
    max-width: 1080px;
    overflow: hidden;
    position: relative;
}

.slider 
{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card-wrapper 
{
    flex: 0 0 100%; /* Each wrapper takes 100% of slider-container width */
    display: flex;
    justify-content: center; /* Center the card within the wrapper */
    align-items: center; /* Vertically center the card */
}

.unit-card 
{
    width: 82%; /* Card is 90% of slider-container width */
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--shadow-color);
    /* padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    box-sizing: border-box;
    min-height: 400px;
    margin: 20px 0; /* Add margin to the left and right of the card */
}

.unit-card img 
{    
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    margin: 10px; /* Add margin to the top and bottom of the image */
    border: 1px solid var(--menu-color-background);
    box-shadow: 3px 3px 10px var(--shadow-color);
}

.unit-card h2 
{
    font-family: var(--heading-font);
    font-size: 22px;
    padding-top: 5px;
    text-transform: uppercase;    
}

.unit-card p 
{
    font-family: var(--text-font);
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0;
    text-align: left; /* Match the screenshot's left-aligned text */
}

.unit-card-info
{
    padding: 10px 25px; 
    font-size: 16px !important; 
    font-family: var(--text-font);
    min-height: 900px;
}

.unit-card-info img
{
    float: left; 
    margin: 0 15px;
}

.controls 
{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    box-shadow: 3px 3px 10px var(--shadow-color);
}

.controls button:hover 
{
    background-color: rgba(0, 0, 0, 0.7);
}