@media screen and (min-width: 800px) 
{        
     .album
     {
        grid-template-columns: 1fr 1fr 1fr;
     }

}

@media(max-width: 750px)
{
    .hideOnMobile
    {
        display: none;
    }
    .menu-button
    {
        display: block;        
    }    
}

@media(max-width: 400px)
{
    .sidebar
    {
        width: 100%;
    }    
}